@page "/project/{ProjectId}"
@inherits ProjectSummaryPage

<h3>Summary for Project: @ProjectId</h3>

<button @onclick="ScanProject">Scan Now</button>


@if (!isAllDataLoaded)
{
    <p>Loading...</p>
}
else
{
    <ul>
        <li><strong>Last scanned:</strong> @lastScannedTime</li>
        <li>
            <strong>Cyclomatic Complexity:</strong>
            Total @totalComplexity, Average @($"{averageComplexity:F2}")
            [<a href="@($"/project/{ProjectId}/cyclomatic-complexity")">Report</a>]
        </li>
        <li>
            <strong>TODOs:</strong>
            @totalTodos todo items
            [<a href="@($"/project/{ProjectId}/todos")">Report</a>]
        </li>
        
    </ul>
}
